* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(30, 38, 49);
    --placeholder-text-color: grey;
    --list-bg: rgb(242, 242, 243);
    --max-width: 1400px;
}

html {
    height: 100%;
}

body {
    color: var(--text-color);
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    flex-grow: 1;
    /* Allows children to be 100% height */
    flex-basis: 0;
}

header {
    padding: 20px max(10px, calc((100% - var(--max-width)) / 2 - 20px));
    border-block-end: 1px solid rgb(194, 194, 194);
}

footer {
    padding: 20px 10px;
    text-align: center;
}

input,
.input,
button,
.button,
textarea {
    padding: 5px 10px;
    font: inherit;
    border-radius: 3px;
}

input,
.input,
textarea {
    border: 1px solid rgb(182, 182, 182);
    color: inherit;
}

button,
.button {
    cursor: pointer;
    background: rgb(0, 113, 206);
    color: white;
    border: none;
    font-size: 0.95em;

    &:hover {
        background: rgb(0, 123, 216);
    }
}

[type=text]::placeholder {
    font: inherit;
    color: var(--placeholder-text-color);
}

p {
    margin-block: 1em;
}

dialog {
    margin: 20vh auto;
    padding: 20px;
    border: none;
    font-weight: 400;
    border-radius: 10px;
    min-width: 90%;

    &::backdrop {
        backdrop-filter: blur(3px);
    }
}

#lists {
    display: flex;
    align-items: start;
    align-content: start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
    background: rgb(46, 80, 78);
    height: 100%;
}

#new-list-form {
    display: flex;
    gap: 5px;

    & [type=text] {
        flex-grow: 1;
        min-width: 3em;
    }
}

.list {
    width: 100%;
    background-color: var(--list-bg);
    padding: 20px;
    border-radius: 10px;

    .list {
        max-width: 300px;
        box-shadow: 0px 0px 3px rgb(0 0 0 / 70%);
    }
}

.list__header {
    position: relative;
    margin-bottom: 10px;

    &:hover {
        & .list__title {
            border-bottom-color: rgba(128, 128, 128, 0.5);
        }

        & .list__edit-icon {
            visibility: visible;
        }
    }
}

.list__title-btn,
.list__title-btn:hover {
    position: absolute;
    inset: 0px;
    color: transparent;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    cursor: text;
}

.list__edit-icon {
    font-size: 1rem;
    color: grey;
    visibility: hidden;
    margin-inline-start: 0.5em;
}

.list__title {
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.list__title,
.list__title-input {
    padding: 5px;
    font-size: 1.5em;
    font-weight: 700;
}

.list__title-input {
    height: 100%;
    width: 100%;
}

.list__list {
    list-style: none;
}

.list__item {
    background: white;
    box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 0px 5px 10px;
    font-weight: 600;
    margin-bottom: 7px;
}

.task {
    display: flex;
    align-items: baseline;
    gap: 5px;
    user-select: none;
}

.task--overdue {
    background-color: hsl(0, 100%, 91%);
}

.task__title {
    flex-grow: 1;
    color: inherit;
    text-decoration: none;
}

.task__due-date {
    background-color: lightcoral;
    min-width: fit-content;
    border-radius: 5px;
    color: white;
    font-size: 0.85em;
    padding: 1px 3px;

    &:has(.task__due-date-value:empty) {
        display: none;
    }
}

.task__due-date-value {
    margin-inline-start: 0.4em;
}

.task__handle {
    opacity: 0.8;
    cursor: move;
    padding: 0.2em 0.4em;
}

.task__dialog-due-date {
    color: grey;
    font-size: 0.9em;
}

.list__add-button {
    width: 100%;
    cursor: text;
    color: var(--placeholder-text-color);
    text-align: start;
    font-weight: 400;
    margin-bottom: 0px;

    &:hover {
        background: white;
    }
}

.new-task__label {
    display: block;
    margin-bottom: 5px;
}

.new-task__input {
    display: block;
    width: 100%;
}

.new-task__title {
    margin-bottom: 10px;
}

#dragged {
    --color: lightgray;
    background-color: var(--color);
    border-color: var(--color);
    color: var(--color);

    & * {
        visibility: hidden;
    }
}

@media screen and (min-width: 600px) {
    /* Tablet+ */

    .list {
        /* Drag/drop previews larger than this look rough on Windows */
        max-width: 300px;
    }

    dialog {
        min-width: 500px;
        max-width: 750px;
    }

    main {
        padding: 10px;
    }

    header {
        margin-block-end: 20px;
    }

    #lists {
        border-radius: 30px;
        padding: 20px;
    }

}