* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: rgb(30, 38, 49);
    --placeholder-text-color: grey;
    --list-bg: rgb(242, 242, 243);
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    color: var(--text-color);
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 10px;
}

header {
    margin-block: 20px;
}

input,
.input,
button,
.button {
    padding: 5px 10px;
    font: inherit;
    border-radius: 3px;
}

input,
.input {
    border: 1px solid rgb(182, 182, 182);
    color: inherit;
}

button,
.button {
    cursor: pointer;
    background: rgb(0, 140, 255);
    color: white;
    border: none;
    font-size: 0.95em;
    &:hover {
        background: rgb(51, 163, 255);
    }
}


[type=text]::placeholder {
    font: inherit;
    color: var(--placeholder-text-color);
}

#lists {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    gap: 10px;
}

.list {
    /* Windows previews over 300px look rough as */
    flex-basis: 300px;
    background-color: var(--list-bg);
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
}

.list__title {
    margin-bottom: 10px;
}

.list__list {
    list-style: none;
}

.list__item {
    background: white;
    box-shadow: 3px 3px 5px -3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px 10px;
    font: inherit;
    font-weight: 500;
    margin-bottom: 5px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    user-select: none;
}

.task:hover {
    /* box-shadow: 0px 0px 15px 5px rgba(184, 227, 255, 1); */
    z-index: 1;
    position: relative;
}

.task__handle {
    opacity: 0.8;
    cursor: move;
}

.task__title {
    color: inherit;
    text-decoration: none;
}

.list__add-button {
    width: 100%;
    cursor: text;
    box-shadow: none;
    color: var(--placeholder-text-color);
    text-align: start;
    font-weight: 400;

    &:hover {
        background: white;
    }
}

#dragged {
    --color: lightgray;
    background-color: var(--color);
    border-color: var(--color);
    color: var(--color);
}